html>body .canv { 
    display: none; 
} 
  
.canv { 
    filter: flipv() fliph(); 
    writing-mode: tb-rl; 
    width: 100px; 
    height: 350px; 
    font-size: 30px; 
    font-family: Arial; 
    background-color: white; 
    text-align: center; 
} 
  
html>body .obj { 
    display: block; 
    width: 100px; 
    height: 350px; 
} 
  
.obj { 
    display: none; 
} 

H1 { font-size: 14;}
T { font-size: 12;}
.backCol {background-color: #e6EEEE;
	border: 1px solid #C8CECB;
	
	padding: 4px;
	font-weight:bolder;
	height:30px}
.error { font-size:12;color:red;}
.tr_hover{background-color:#E8E8E8; }
.table{border-color:#C8CECB;border-bottom-color:#096;width:100;}
.mytable{ border-color:#DCDEDD; line-height:normal;font-size:17px}
.mytr{ border-color:#C8CECB;font-size:13px; line-height:normal;}
.mytable2{ border-color:#C8CECB;}
.addButton{background-image:url(images/edit_add.bmp);background-position:center;background-repeat:no-repeat;border:0;width:35;height:35}
.delButton{background-image:url(images/button_del.bmp);background-position:center;background-repeat:no-repeat;border:0;width:22;height:22}
.delButtonForm{background-image:url(images/button_del.bmp);background-position:left;background-repeat:no-repeat;text-align:right;width:230;}
.okButton{background-image:url(images/button_ok.bmp);background-repeat:no-repeat;background-position:left;text-align:right;width:160;font:Georgia, "Times New Roman", Times, serif}