*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
/vendor
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
#*
\#*\#
*~
*.iml
*.bat
mklink.txt
.idea/
examples
out

junk/
src/prototypes/node_modules
src/sources/verification/node_modules
src/sources/verification/bower_components