<div class="container">
  <h2>Показатели</h2>
  <div class="row">
    <a href ng-click="goto('/criteria/new')" class="btn btn-link">
      <i class="glyphicon glyphicon-plus-sign"></i>
      Новый показатель
    </a>
  </div>
  <div class="row">
    <table class="table">
      <tr>
        <th>#</th>
        <th>Название</th>
        <th>Способ вычисления</th>
        <th>Данные</th>
        <th>Метод оценки</th>
        <th>Лимит в год</th>
        <th>Множитель</th>
        <th width="90">Дата создания</th>
        <th width="60"></th>
      </tr>
      <tr ng-repeat="c in criteria | orderBy:'id'">
        <td>{{c.id}}</td>
        <td>{{c.name}}</td>
        <td>{{fetch_types[c.fetch_type]}}</td>
        <td data-toggle="tooltip"
            data-placement="bottom"
            title="{{c.fetch_type=='sql' ? c.fetch_value : null}}">
          <div class="data-cell">{{c.fetch_value}}</div>
        </td>
        <td>{{calculation_types[c.calculation_type]}}</td>
        <td>{{c.year_limit}}</td>
        <td>{{c.multiplier}}</td>
        <td>{{c.creation_date}}</td>
        <td>
          <div class="btn-group">
            <a href="" class="btn btn-default" ng-click="goto('/criteria/'+c.id)"><i class="glyphicon glyphicon-pencil"></i></a>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>