<div class="container">
  <div class="row">
  <div class="col-xs-1" ng-class="{'col-xs-offset-2': criteria.id == undefined}">
    <div class="go-back">
      <a href ng-click="goto('/criteria')" class="btn btn-link">
        <i class="glyphicon glyphicon-chevron-left"></i>
      </a>
    </div>
  </div>
    <div ng-class="{'col-xs-6' : criteria.id == undefined, 'col-xs-5' : criteria.id !=undefined}">
      <div class="row">
        <div class="col-md-12">
          <h2>
            {{criteria.id ? 'Редактирование' : 'Создание'}} показателя</h2>
        </div>
      </div>
      <div class="row col-md-12">
        <form novalidate class="form form-horizontal" name="form">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group" ng-show="criteria.id">
                <label for="id">ID</label>
                <input type="text"
                       id="id"
                       name="id"
                       class="form-control"
                       ng-model="criteria.id"
                       ng-disabled="true"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="name">Название</label>
                <input type="text"
                       id="name" name="name"
                       ng-model="criteria.name"
                       class="form-control"
                       required
                       placeholder="Название показателя"
                        />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="fetch_type">Способ вычисления</label>
                <select type="text"
                        id="fetch_type" name="fetch_type"
                        ng-model="criteria.fetch_type"
                        class="form-control"
                        ng-change="revalidateFetchValue(form)"
                        ng-required="true"
                        ng-options="key as value for (key, value) in fetch_types"
                        >
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group" ng-show="criteria.fetch_type !== 'manual'">
                <label for="fetch_value">Данные</label>
                <textarea id="fetch_value"
                          name="fetch_value"
                          ui-validate=" {0: 'validateFetchValue(form, $value)', 1: 'validateFetchValue(form, $value)'} "
                          ui-validate-watch=" {0: 'criteria.fetch_type', 1: 'criteria.multiplier'} "
                          rows="{{criteria.fetch_type=='sql' ? '15' : '1'}}"
                          class="form-control"
                          ng-required="criteria.fetch_type !== 'manual'"
                          ng-model="criteria.fetch_value">
                </textarea>
              </div>
            </div>
            <div class="form-group" ng-show="fetchValueErrors.length !== 0">
              <div class="col-md-12">
                <label>Ошибки ввода:</label>
                <ul class="bg-danger">
                  <li ng-repeat="e in fetchValueErrors">
                    {{e}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="external_records">Содержит внешние записи</label>
                <br/>
                <input type="checkbox"
                        id="external_records" name="external_records"
                        ng-model="criteria.external_records"
                        />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="description">Описание</label>
                <textarea id="description"
                          name="description"
                          rows="6"
                          class="form-control"
                          ng-model="criteria.description">
                </textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <button type="submit"
                        ng-show="!criteria.id"
                        class="btn btn-primary"
                        ng-click="createCriteria(criteria)"
                        ng-disabled="form.$invalid">
                  <i class="glyphicon glyphicon-plus-sign"></i>
                  <span>Создать</span>
                </button>
                <button type="submit"
                        ng-show="criteria.id"
                        class="btn btn-warning"
                        ng-click="saveCriteria(criteria)"
                        ng-disabled="form.$invalid">
                  <i class="glyphicon glyphicon-floppy-disk"></i>
                  <span>Сохранить</span>
                </button>
                <button type="submit"
                        ng-show="criteria.id"
                        class="btn btn-danger"
                        ng-click="deleteCriteria(criteria)"
                        ng-disabled="form.$invalid">
                  <i class="glyphicon glyphicon-remove"></i>
                  <span>Удалить</span>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  <div ng-if="criteria.id" class="col-xs-6" ng-controller="CriteriaVersionsCtrl">
    <div class="row">
      <div class="col-md-12">
        <h2>
          Версии
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <tbody><tr>
            <th>Id</th>
            <th>Множитель</th>
            <th>Лимит в год</th>
            <th>Лимит в 2 года</th>
            <th width="100">Дата</th>
            <th width="60"></th>
          </tr>
          <tr ng-repeat="v in versions | orderBy:'creation_date'">
            <td>{{v.id}}</td>
            <td>{{v.multiplier}}</td>
            <td>{{v.year_limit}}</td>
            <td>{{v.year_2_limit}}</td>
            <td>{{v.creation_date}}</td>
            <td>
              <div class="btn-group">
                <a href="" class="btn btn-default" ng-click="edit_version(v, form)"><i class="glyphicon glyphicon-pencil"></i></a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
                      <span ng-if="!current_version.id">
                          <i class="glyphicon glyphicon-plus-sign"></i>
                          <span>Создание</span>
                      </span>
                      <span ng-if="current_version.id">
                          <i class="glyphicon glyphicon-pencil"></i>
                          <span>
                              Редактирование
                              <a href="" class="pull-right" ng-click="newVersion()">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                                Создать новую версию
                              </a>
                          </span>
                      </span>
            </h4>
          </div>
          <div id="collapseCreate" class="panel-collapse collapse in">
            <div class="panel-body">
              <form novalidate class="form" name="form">
                <div ng-if="current_version.id" class="form-group">
                  <label>Id</label>
                  <input class="form-control"
                         type="text"
                         name="id"
                         ng-model="current_version.id"
                         ng-disabled="true"
                         ng-required="true"
                          >
                  </input>
                </div>
                <div class="form-group">
                  <label>Множитель</label>
                  <input class="form-control"
                         type="text"
                         name="multiplier"
                         ng-model="current_version.multiplier"
                         ui-validate=" {0: 'validateFetchValueForMultiplier(form, criteria.fetch_value)', 1: 'validateMultiplierValueForMutliplier(form, current_version.multiplier)'} "
                         ui-validate-watch=" {0: 'current_version.multiplier', 1: 'current_version.multiplier'} "
                         placeholder=""
                         ng-required="true"
                          >
                  </input>
                </div>
                <div class="form-group" ng-show="fetchValueErrorsForMultiplier.length !== 0">
                  <div class="col-md-12">
                    <label>Ошибки ввода:</label>
                    <ul class="bg-danger">
                      <li ng-repeat="e in fetchValueErrorsForMultiplier">
                        {{e}}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="form-group">
                  <label>Лимит в год</label>
                  <input class="form-control"
                         type="text"
                         name="year_limit"
                         ng-model="current_version.year_limit"
                         placeholder='"0" если лимита нет'
                         ng-required="true"
                          >
                  </input>
                </div>
                <div class="form-group">
                  <label>Лимит в 2 года</label>
                  <input class="form-control"
                         type="text"
                         name="year_2_limit"
                         ng-model="current_version.year_2_limit"
                         placeholder='"0" если лимита нет'
                         ng-required="true"
                          >
                  </input>
                </div>
                <div class="form-group">
                  <label>Дата введения</label>

                  <p class="input-group">
                    <input type="text"
                           name="creation_date"
                           class="form-control"
                           datepicker-popup="dd MMMM yyyy"
                           ng-model="current_version.creation_date"
                           show-weeks="false"
                           datepicker-options="dateOptions"
                           datepicker-append-to-body="true"
                           ng-required="true"
                           clear-text="Очистить"
                           close-text="X"
                           current-text="Сегодня"
                           toggle-weeks-text="Недели"
                           show-button-bar="false"
                           is-open="form.datepickerOpened"
                           placeholder="Выберите дату введения показателя"
                            />
                                      <span class="input-group-btn">
                                        <button class="btn btn-default"
                                                ng-click="openDatepicker($event, form)">
                                          <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                      </span>
                  </p>
                </div>
                <button type="submit"
                        ng-if="!current_version.id"
                        ng-disabled="form.$invalid"
                        ng-click="saveVersion(current_version, form)"
                        class="btn btn-primary">
                  <i class="glyphicon glyphicon-plus-sign"></i>
                  <span>Создать</span>
                </button>
                <button type="submit"
                        ng-if="current_version.id"
                        ng-disabled="form.$invalid"
                        ng-click="saveVersion(current_version, form)"
                        class="btn btn-warning">
                  <i class="glyphicon glyphicon-floppy-disk"></i>
                  <span>Сохранить</span>
                </button>
                        <span ng-show="form.$invalid">
                            Укажите все поля
                        </span>
                <button type="submit"
                        ng-if="current_version.id"
                        ng-click="deleteVersion(current_version, form)"
                        class="btn btn-danger">
                  <i class="glyphicon glyphicon-remove"></i>
                  <span>Удалить</span>
                </button>

              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- accordion -->
    </div>
  </div>
  </div>
</div>