<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">СМК СГАУ</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">Ввод достижений</a>
                </li>
                <li>
                    <a href="#">Руководство пользователя</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href>Muraveva E.V.</a>
                </li>
                <li>
                    <a href ng-click="logout()">Выход</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/ng-template" id="notesModal.html">
    <div class="modal-header">
        <h4>Заметки для #{{record.id}} - {{record.teacher.name}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div ng-repeat="note in notes">
                    <div class="row">
                        <div class="col-md-1">#{{note.id}}</div>
                        <div class="col-md-7">{{note.text}}</div>
                        <div class="col-md-3">{{note.user_name}}</div>
                        <div class="col-md-1">
                            <a class="btn btn-danger btn-sm" ng-click="removeNote(note)" ng-show="note.user_id == currentUser.id"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-7">
                <input type="text" class="form-control" placeholder="Текст заметки">
            </div>
            <div class="col-md-5">
                <button type="submit" class="btn btn-primary">Добавить</button>
                <button type="button" class="btn btn-default" ng-click="close()">Закрыть</button>
            </div>
        </div>
    </div>
</script>

<div class="container">
    <div ng-controller="MainCtrl">
        <div class="row">
            <tabset>
                <tab ng-repeat="criteria in criterias" heading="{{criteria.title}}" active="criteria.active" disabled="criteria.disabled">
                    <div class="criteria-tab-content">
                        <div class="row">
                            <div class="col-md-12">
                                {{criteria.description}}
                                <table class="table" style="">
                                    <tr>
                                        <th>#</th>
                                        <th>Дата</th>
                                        <th>Наименование</th>
                                        <th>Преподаватель</th>
                                        <th>Утвердил(а)</th>
                                        <th>Заметки</th>
                                        <th width="60">Действия</th>
                                    </tr>
                                    <tr ng-repeat="record in records(criteria.id, criteria.currentPage)">
                                        <th>{{record.id}}</th>
                                        <th>{{record.date}}</th>
                                        <th>{{record.name}}</th>
                                        <th>{{record.teacher.name}}</th>
                                        <th>{{record.user.name}}</th>
                                        <th>
                                            <a class="btn btn-link" ng-click="displayNotes(record)">{{record.notes.length}}</a></th>
                                        <th>
                                            <div class="btn-group">
                                                <a class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
                                            </div>
                                        </th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <pagination total-items="recordCount(criteria.id)"
                                            page="criteria.currentPage"
                                            items-per-page="countPerPage"
                                            next-text="След."
                                            previous-text="Пред.">
                                </pagination>
                            </div>
                        </div>

                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>
