<div class="modal-header">
    <h4>Заметки для #{{record.id}} - {{record.teacher.name}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div ng-repeat="note in notes">
                <div class="row">
                    <div class="col-md-1">#{{note.id}}</div>
                    <div class="col-md-7">{{note.text}}</div>
                    <div class="col-md-3">{{note.user_name}}</div>
                    <div class="col-md-1">
                        <a class="btn btn-danger btn-sm" ng-click="removeNote(note)" ng-show="note.user_id == currentUser.id"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-7">
            <input type="text" class="form-control" placeholder="Текст заметки">
        </div>
        <div class="col-md-5">
            <button type="submit" class="btn btn-primary">Добавить</button>
            <button type="button" class="btn btn-default" ng-click="close()">Закрыть</button>
        </div>
    </div>
</div>