<div class="container">
  <div class="row">
    <tabset>
      <tab ng-repeat="criteria in criterias | allowed_criteria:currentUser" heading="{{criteria.name}}" active="criteria.active"
           disabled="criteria.disabled">
        <div class="criteria-tab-content">
          <div class="row">
            <div class="col-md-12">
              <p>
                {{criteria.description}}
              </p>
              <table class="table">
                <tr>
                  <th>#</th>
                  <th>Дата</th>
                  <th>Описание</th>
                  <th ng-if="criteria.options">Вариант</th>
                  <th>Преподаватель</th>
                  <th>Рассмотрел(а)</th>
                  <th>Заметки</th>
                  <th width="60"></th>
                </tr>
                <tr ng-repeat="record in records(criteria, criteria.currentPage)">
                  <td>{{record.id}}</td>
                  <td>{{record.date}}</td>
                  <td>{{record.name}}</td>
                  <td ng-if="criteria.options">{{record.option.name}}</td>
                  <td>{{record.teacher.name}}</td>
                  <td>{{record.user.name}}</td>
                  <td>
                    <a class="btn btn-link" ng-click="displayNotes(record)">{{record.notes.length}}</a></td>
                  <td>
                    <div class="btn-group">
                      <a class="btn btn-default" ng-click="editRecord(record, criteria)"><i class="glyphicon glyphicon-pencil"></i></a>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <pagination total-items="recordCount(criteria)"
                          page="criteria.currentPage"
                          items-per-page="countPerPage"
                          next-text="След."
                          previous-text="Пред.">
              </pagination>
              <div ng-show="criteria.search_mode">
                <button type="submit"
                        ng-click="clearSearch(criteria)"
                        class="btn btn-primary clear-search">
                  <i class="glyphicon glyphicon-remove"></i>
                  <span>Очистить поиск</span>
                </button>
                <div class="record-count">
                  <span>Найдено <b>{{recordCount(criteria)}}</b> записей</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <span ng-if="!criteria.current_record.id">
                          <i class="glyphicon glyphicon-plus-sign"></i>
                          <span>Ввод</span>
                      </span>
                      <span ng-if="criteria.current_record.id">
                          <i class="glyphicon glyphicon-pencil"></i>
                          <span>
                              Редактирование
                              <a href="" class="pull-right" ng-click="newRecord(criteria)">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                                Ввести новое достижение
                              </a>
                          </span>
                      </span>
                    </h4>
                  </div>
                  <div id="collapseCreate" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <form novalidate class="form" name="form">
                        <div ng-show="false" ng-init="criteria.form=form"></div>
                        <div class="form-group">
                          <label for="teachers">Преподаватель</label>
                          <input id="teachers"
                                 type="text"
                                 ng-model="criteria.current_record.teacher"
                                 name="teacher"
                                 typeahead-min-length="3"
                                 placeholder="Начните вводить фамилию преподавателя"
                                 typeahead="teacher as teacher.name for teacher in teachers | filter:{name:$viewValue}"
                                 class="form-control"
                                 ng-required="true"
                                 typeahead-editable="false">

                          <div ng-show="form.teacher.$dirty && form.teacher.$invalid">
                            Выберите преподавателя из списка.
                          </div>
                        </div>
                        <div ng-if="criteria.options" class="form-group">
                          <label>Вариант</label>
                          <select ng-model="criteria.current_record.option"
                                  name="option"
                                  class="form-control"
                                  ng-required="true"
                                  ng-options="value as value.name for value in criteria.options"
                                  >
                          </select>
                        </div>
                        <div class="form-group">
                          <label>Описание</label>
                          <textarea class="form-control"
                                    name="name"
                                    ng-model="criteria.current_record.name"
                                    placeholder="Опишите достижение преподавателя"
                                    ng-required="true"
                                    rows="3">
                          </textarea>
                        </div>
                        <div class="form-group">
                          <label>Дата достижения</label>

                          <p class="input-group">
                            <input type="text"
                                   name="date"
                                   class="form-control"
                                   datepicker-popup="dd MMMM yyyy"
                                   ng-model="criteria.current_record.date"
                                   show-weeks="false"
                                   datepicker-options="dateOptions"
                                   datepicker-append-to-body="true"
                                   ng-required="true"
                                   clear-text="Очистить"
                                   close-text="X"
                                   current-text="Сегодня"
                                   toggle-weeks-text="Недели"
                                   show-button-bar="false"
                                   is-open="form.datepickerOpened"
                                   placeholder="Выберите дату"
                                    />
                                      <span class="input-group-btn">
                                        <button class="btn btn-default"
                                                ng-click="openDatepicker($event, form)">
                                          <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                      </span>
                          </p>
                        </div>
                        <input type="hidden"
                               name="criteria_id"
                               ng-init="criteria.current_record.criteria_id=criteria.id"
                               ng-model="criteria.current_record.criteria_id"
                                />
                        <button type="submit"
                                ng-if="!criteria.current_record.id"
                                ng-disabled="form.$invalid"
                                ng-click="saveRecord(criteria, form)"
                                class="btn btn-primary">
                          <i class="glyphicon glyphicon-plus-sign"></i>
                          <span>Добавить</span>
                        </button>
                        <button type="submit"
                                ng-if="criteria.current_record.id"
                                ng-disabled="form.$invalid || !recordEdited(criteria)"
                                ng-click="saveRecord(criteria, form)"
                                class="btn btn-warning">
                          <i class="glyphicon glyphicon-floppy-disk"></i>
                          <span>Сохранить</span>
                        </button>
                        <span ng-show="form.$invalid">
                            Укажите все поля
                        </span>
                        <button type="submit"
                                ng-if="criteria.current_record.id"
                                ng-click="deleteRecord(criteria, form)"
                                class="btn btn-danger">
                          <i class="glyphicon glyphicon-remove"></i>
                          <span>Удалить</span>
                        </button>

                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- accordion -->

            </div>
            <div class="col-md-6">
              <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <span>
                          <i class="glyphicon glyphicon-search"></i>
                          <span>Поиск</span>
                      </span>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse in">
                    <div class="panel-body">
                      <form novalidate class="form" name="search_form">
                        <div class="form-group">
                          <label for="teachers">Преподаватель</label>
                          <input type="text"
                                 ng-model="criteria.search_record.teacher"
                                 name="teacher"
                                 typeahead-min-length="3"
                                 placeholder="Начните вводить фамилию преподавателя"
                                 typeahead="teacher as teacher.name for teacher in teachers | filter:{name:$viewValue}"
                                 class="form-control"
                                 typeahead-editable="false">
                        </div>
                        <div ng-if="criteria.options" class="form-group">
                          <label>Вариант</label>
                          <select ng-model="criteria.search_record.option"
                                  name="option"
                                  class="form-control"
                                  ng-options="value as value.name for value in criteria.options"
                                  >
                            <option value=""></option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label>Описание</label>
                          <textarea class="form-control"
                                    name="name"
                                    ng-model="criteria.search_record.name"
                                    placeholder="Фраза в описании"
                                    rows="1">
                          </textarea>
                        </div>
                        <div class="form-group">
                          <label>Достижения начиная с</label>
                          <p class="input-group">
                            <input type="text"
                                   name="date"
                                   class="form-control"
                                   datepicker-popup="dd MMMM yyyy"
                                   ng-model="criteria.search_record.date_from"
                                   show-weeks="false"
                                   datepicker-options="dateOptions"
                                   datepicker-append-to-body="true"
                                   clear-text="Очистить"
                                   close-text="X"
                                   current-text="Сегодня"
                                   toggle-weeks-text="Недели"
                                   show-button-bar="false"
                                   is-open="search_form.datepickerFromOpened"
                                   placeholder="С даты...."
                                    />
                                      <span class="input-group-btn">
                                        <button class="btn btn-default"
                                                ng-click="openDatepicker($event, search_form, 'datepickerFromOpened')">
                                          <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                      </span>
                          </p>
                        </div>
                        <div class="form-group">
                          <label>Достижения по</label>
                          <p class="input-group">
                            <input type="text"
                                   name="date"
                                   class="form-control"
                                   datepicker-popup="dd MMMM yyyy"
                                   ng-model="criteria.search_record.date_to"
                                   show-weeks="false"
                                   datepicker-options="dateOptions"
                                   datepicker-append-to-body="true"
                                   clear-text="Очистить"
                                   close-text="X"
                                   current-text="Сегодня"
                                   toggle-weeks-text="Недели"
                                   show-button-bar="false"
                                   is-open="search_form.datepickerToOpened"
                                   placeholder="По дату...."
                                    />
                                      <span class="input-group-btn">
                                        <button class="btn btn-default"
                                                ng-click="openDatepicker($event, search_form, 'datepickerToOpened')">
                                          <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                      </span>
                          </p>
                        </div>
                        <input type="hidden"
                               name="criteria_id"
                               ng-init="criteria.search_record.criteria_id=criteria.id"
                               ng-model="criteria.search_record.criteria_id"
                                />
                        <button type="submit"
                                ng-click="searchRecords(criteria)"
                                class="btn btn-primary">
                          <i class="glyphicon glyphicon-search"></i>
                          <span>Поиск</span>
                        </button>
                        <span ng-show="search_form.$invalid">
                            Форма поиска некорректна
                        </span>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- accordion -->
            </div>
          </div>
          <div class="row" ng-if="criteria.external_records">
            <div class="col-md-12">
              <table class="table">
                <tr>
                  <th>#</th>
                  <th>Описание</th>
                  <th>Преподаватель</th>
                  <th>Дата достижения</th>
                  <th>Заметки</th>
                  <th>Создал</th>
                  <th>Рассмотрел(а)</th>
                  <th width="140"></th>
                </tr>
                <tr ng-repeat="e in externalRecords(criteria.id)">
                  <td>{{e.id}} {{e.status}}</td>
                  <td>{{e.description}}</td>
                  <td>{{e.teacher.name}}</td>
                  <td>{{e.date}}</td>
                  <td>{{e.notes.length}}</td>
                  <td>{{e.created_by.name}}</td>
                  <td>{{e.reviewed_by.name}}</td>
                  <td>
                    <div class="btn-group">
                      <a class="btn btn-default" ng-click="newRecordByTemplate(criteria, e)">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                      </a>
                      <a class="btn btn-success" ng-click="approveExternalRecord(e)">
                        <i class="glyphicon glyphicon-ok"></i>
                      </a>
                      <a class="btn btn-danger" ng-click="rejectExternalRecord(e)">
                        <i class="glyphicon glyphicon-remove"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>



          <!-- TODO remove in production -->
          <div class="row" ng-if="criteria.external_records || is_admin">
            <div class="col-md-6 col-md-offset-1 well">
              <form novalidate class="form" name="external_form">
                <div class="form-group">
                  <label>Преподаватель</label>
                  <input type="text"
                         ng-model="criteria.current_external_record.teacher"
                         name="teacher"
                         typeahead-min-length="3"
                         placeholder="Начните вводить фамилию преподавателя"
                         typeahead="teacher as teacher.name for teacher in teachers | filter:{name:$viewValue}"
                         class="form-control"
                         ng-required="true"
                         typeahead-editable="false">

                  <div ng-show="external_form.teacher.$dirty && external_form.teacher.$invalid">
                    Выберите преподавателя из списка.
                  </div>
                </div>
                <div class="form-group">
                  <label>Описание</label>
                  <textarea class="form-control"
                            name="description"
                            ng-model="criteria.current_external_record.description"
                            placeholder="Опишите достижение преподавателя"
                            ng-required="true"
                            rows="3">
                  </textarea>
                </div>
                <div class="form-group">
                  <label>Статус</label>
                  <input type="text" class="form-control"
                            name="status"
                            ng-model="criteria.current_external_record.status"
                            ng-init="criteria.current_external_record.status='new'"
                            placeholder="new/reviewed"
                            ng-required="true"
                            rows="3"/>
                </div>
                <div class="form-group">
                  <label>Дата достижения</label>

                  <p class="input-group">
                    <input type="text"
                           name="date"
                           class="form-control"
                           datepicker-popup="dd MMMM yyyy"
                           ng-model="criteria.current_external_record.date"
                           show-weeks="false"
                           datepicker-options="dateOptions"
                           datepicker-append-to-body="true"
                           ng-required="true"
                           clear-text="Очистить"
                           close-text="X"
                           current-text="Сегодня"
                           toggle-weeks-text="Недели"
                           show-button-bar="false"
                           is-open="external_form.datepickerOpened"
                           placeholder="Выберите дату"
                            />
                                      <span class="input-group-btn">
                                        <button class="btn btn-default"
                                                ng-click="openDatepicker($event, external_form)">
                                          <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                      </span>
                  </p>
                </div>
                <input type="hidden"
                       name="criteria_id"
                       ng-init="criteria.current_external_record.criteria_id=criteria.id"
                       ng-model="criteria.current_record.criteria_id"
                        />
                <button type="submit"
                        ng-disabled="external_form.$invalid"
                        ng-click="createExternalRecord(criteria.current_external_record)"
                        class="btn btn-primary">
                  <i class="glyphicon glyphicon-plus-sign"></i>
                  <span>Добавить</span>
                </button>

              </form>
            </div>
          </div>



        </div>  <!-- div.criteria-tab-content -->
      </tab>
    </tabset>
  </div>
</div>
