<div class="container">
    <div class="row">
        <h1>Руководство пользователя</h1>
    </div>

    <h3>Начало работы</h3>
    <div class="row well">
        <p>
            Для входа в АРМ "Достижения и показатели" необходимо ввести в адресную строку веб-браузера адрес, по которому расположена СМК СГАУ. После перехода система отобразит окно аутентификации. В нём необходимо ввести логин и пароль пользователя, нажать на "Вход".
        </p>
        <img class="center-block" src="/sources/verification/images/r1.png" alt=""/>
        <p>
            После входа пользователь окажется на главной странице (рисунок А.2). Доступность вкладок зависит от роли пользователя, так для администратора доступны вкладки "Главная страница", "Ввод достижений", "Администрирование", "Внешние записи", "Показатели", "Руководство пользователя". Для оператора доступны вкладки "Главная страница", "Ввод достижений", "Руководство пользователя".
        </p>
        <img class="center-block" src="/sources/verification/images/r2.png" alt=""/>
    </div>

    <h3 ng-if="is_admin">Работа с показателями</h3>
    <div ng-if="is_admin" class="row well">
        <p>
            Рейтинг преподавателя рассчитывается отдельно по каждому показателю, а потом суммируется. Работа с показателями разрешена для администратора по вкладке "Показатели".
            На странице показателей отображён список всех показателей с информацией о них, кнопки создания нового показателя и редактирования существующих.
        </p>
        <img class="center-block" src="/sources/verification/images/r3.png" alt=""/>
        <p>
            Показатель имеет следующие атрибуты:
            <ul>
                <li>ID – уникальный идентификатор показателя. Для редактирования недоступен. Присваевается показателю после создания. Может быть использован для интеграции с другими системами.
                </li>
                <li>Название – название показателя, отображаемое при вводе достижения и расчёте рейтинга.</li>
                <li>Способ вычисления – источник, из которого система берёт данные для расчёта рейтинга. Описание доступных способов вычисления приведено ниже.
                </li>
                <li>Данные – варьируется в зависимости от способа вычисления.</li>
                <li>Наличие внешних записей – определяет, имеет ли показатель внешние записи. Внешние записи могут быть введены в других АРМ и используются в случае, когда первичная информация вводится в одном месте, но требует подтверждения в другом (АРМ "Достижения и показатели").
                </li>
                <li>Множитель – коэффициент, на который умножаются значения из достижений. В случае, если способ вычисления указан как "Вручную из вариантов", то указывается несколько множителей в одну строку, разделённых "|", например "20|10|5".
                </li>
                <li>Лимит в год – максимум баллов за интервал.</li>
                <li>Лимит в 2 года – Максимум баллов за 2 интервала. Так например если за 1-ый интервал рейтинг преподавателя составил 100 баллов, при лимите в 2 года равным 120 баллам. То максимум баллов в следующем интервале оценки для этого преподавателя составит 20 баллов.
                </li>
                <li>Дата введения показателя – дата, когда показатель вступил в действие, используется в справочных целях.
                </li>
                <li>Описание – подробная информация о показателе. Здесь, например, можно указать информацию о правилах для данного показателя, которыми следует руководствоваться оператору при вводе достижений.
                </li>
            </ul>
            Способы вычисления показателя:
            <ul>
                <li>Вручную – оператор вводит достижения вручную.</li>
                <li>Вручную из вариантов – оператор вводит достижения вручную, при этом каждое достижение может иметь несколько вариантов со своим множителем для каждого. Варианты указываются в атрибуте "Данные" через "|", например "1 место|2 место|3 место".
                </li>
                <li>SQL запрос – значение показателя для преподавателя рассчитывается через указанный в атрибуте "Данные" SQL запрос. При расчёте рейтинга результат запроса умножается на множиель. Используется для получения рейтинга на основе уже имеющихся в системе данных. В запросе можно указать переменные. Переменные заключаются в @, например "... WHERE staff_id = @staff_id@ ...". Список доступных переменных приведён ниже.
                </li>
                <li>PHP файл – значение показателя рассчитывается как произведение результата выполнения указанного в "Данные" php скрипта и множителя. Используется в случае, когда логика вычисления показателя слишком сложна для SQL запроса.</li>
            </ul>
            Доступные в SQL запросе переменные:
            <ul>
                <li>staff_id – id преподавателя.</li>
                <li>from_period_id – идентфикатор периода, в который входит нижняя граница вычисляемого интервала.</li>
                <li>to_period_id – идентфикатор периода, в который входит верхняя граница вычисляемого интервала.</li>
                <li>from_date – нижняя граница вычисляемого интервала.</li>
                <li>to_date – верхняя граница вычисляемого интервала.</li>
            </ul>
        После нажатия на "Новый показатель" открывается вкладка создания нового показателя. Кнопка "Создать" недоступна до тех пор, пока не будут корректно введены все атрибуты.
        </p>
        <img class="center-block" src="/sources/verification/images/r4.png" alt=""/>
        <p>
            Так как формат ввода данных для случая способ вычисления "Вручную из вариантов" нетривиален, то система отображает все ошибки, которые динамически исчезают по мере их исправления. После того, как вся информация введена станет доступны кнопка "Создать".
        </p>
        <img class="center-block" src="/sources/verification/images/r5.jpg" alt=""/>
        <img class="center-block" src="/sources/verification/images/r5.png" alt=""/>
        <p>
            После создания показателя форма переходит в режим редактирования). В режим редактирования отображаются кнопка "Сохранить" и "Удалить", а также известен идентификатор показателя. Для перехода к списку показателей следует нажать на кнопку, с изображением стрелки слева от формы ввода.
        </p>
        <img class="center-block" src="/sources/verification/images/r6.png" alt=""/>
    </div>

    <h3 ng-if="is_admin">Работа с интервалами оценки</h3>
    <div ng-if="is_admin" class="row well">
        <p>
            Расчёт рейтинга происходит за интервал оценки. Работа с этими интервалами доступна администратору системы по вкладке "Администрирование".
        </p>
        <p>
            Очерёдность интервалов определяется их идентификатором (id). Интервал с большим id также должен иметь более позднюю дату в атрибуте "С даты". Между идентификаторами не должно быть промежутков, т.о. интервалы с id равными 1, 2, 4 недопустимы, а 1, 2, 3 допустимы.
        </p>
        <img class="center-block" src="/sources/verification/images/r7.png" alt=""/>
        <p>
            Для редактирования интервала следует нажать на кнопку редактирования напротив интервала в списке, после чего форма ввода сменится на форму редактирования.
        </p>
        <img class="center-block" src="/sources/verification/images/r8.png" alt=""/>
        <p>
            Для того, чтобы вернуться к созданию нового интервала следует нажать на "Создать новый интервал".
        </p>
    </div>

    <h3 ng-if="is_admin">Работа с разрешениями и ролями</h3>
    <div ng-if="is_admin" class="row well">
        <p>
            Работа с разрешениями и ролями осуществляется администратором на вкладке администрирование.
            Пользователь может изменять только достижения для показателей, к которым он имеет доступ. Недоступные пользователю показатели не отображаются на вкладке ввода достижений. В целях безопасности проверка также выполняется на стороне сервера.
        </p>
        <img class="center-block" src="/sources/verification/images/r9.png" alt=""/>
    </div>

    <h3>Работа с достижениями</h3>
    <div class="row well">
        <p>
            Работа с достижениями осуществляется на вкладке "Ввод достижений". Для ввода достижения следует выбрать показатель, к которому данное достижение относится. После этого система отобразит список всех достижений для данного показателя. В случае, если достижений нет, система отобразит надпись "Достижения отсутствуют".
            Для добавления нового достижения информацию о нём следует ввести в форму "Ввод".
        </p>
        <img class="center-block" src="/sources/verification/images/r10.png" alt=""/>
        <img class="center-block" src="/sources/verification/images/r11.png" alt=""/>
        <p>
            При вводе ФИО преподавателя система отображает список преподавателей со схожим ФИО.
        </p>
        <img class="center-block" src="/sources/verification/images/r12.png" alt=""/>
        <p>
            Система также отображает всплывающее окно при вводе даты.
        </p>
        <img class="center-block" src="/sources/verification/images/r13.png" alt=""/>
        <p>
            После добавления достижения форма переходит в режим редактирования. Для добавления нового достижения следует нажать на "Ввести новое достижение".
        </p>
        <img class="center-block" src="/sources/verification/images/r14.png" alt=""/>
        <p>
            АРМ "Достижения и показатели" также позволяет производить поиск достижений.
        </p>
        <img class="center-block" src="/sources/verification/images/r15.png" alt=""/>
        <p>
            Критерии для поиска вводятся в форму "Поиск" на вкладке ввода достижений. Система может искать по нескольким критериям. Также как и общий список достижений, результаты поиска делятся на страницы. Поиск в любой момент можно отменить нажав на "Очистить поиск", после чего система вернётся к отображению всех достижений выбранного показателя.
        </p>
        <img class="center-block" src="/sources/verification/images/r16.png" alt=""/>
    </div>

    <h3 ng-if="is_admin">Работа с внешними записями</h3>
    <div ng-if="is_admin" class="row well">
        <p>
            Система поддерживает работу с достижениями, информация о которых поступает из одного места (например из другого АРМ), а подтверждение происходит в другом (в АРМ "Достижения и показатели").
            Внешняя запись может находиться в 3 состояниях:
            <ul>
                <li>новая (new);</li>
                <li>подтверждённая (approved);</li>
                <li>отклонённая (rejected).</li>
            </ul>
        Новые внешние записи отображаются внизу страницы ввода достижений. На их основе можно добавить достижение, а внешнюю запись подтвердить. Также внешнюю запись можно отклонить. Для ускорения ввода система поддерживает предзаполнение информации о новое достижении из внешней записи.
        </p>
        <img class="center-block" src="/sources/verification/images/r17.png" alt=""/>
        <img class="center-block" src="/sources/verification/images/r18.png" alt=""/>
        <p>
            Работать с внешними записями можно и из АРМ "Достижения и показатели" на вкладке "Внешние записи". Однако данный вариант использования имеет мало смысла и поэтому рекомендуется исчключительно в целях тестирования работоспособности системы.
        </p>
        <img class="center-block" src="/sources/verification/images/r19.png" alt=""/>
    </div>

    <h3>Работа с заметками</h3>
    <div class="row well">
        <p>
            Система позволяет добавлять заметки к внешним записям и достижениям. Для просмотра списка заметок следует нажать на кнопку с числом заметок.
        </p>
        <img class="center-block" src="/sources/verification/images/r20.png" alt=""/>
    </div>

    <h3>Сообщения об ошибках доступа</h3>
    <div class="row well">
        <p>
            В случае, если переход по ссылке был осуществлён без аутентификации пользователя, веб-сервер посылает HTTP ответ с кодом 'HTTP/1.0 401 Unauthorized'. В этом случае АРМ перенаправит пользователя на страницу аутентификации.
        </p>
        <img class="center-block" src="/sources/verification/images/r21.png" alt=""/>
        <p>
            В случае, если пользователь пытается получить доступ к ресурсу, на работу с которым не имеет права, веб-сервер посылает HTTP код ' HTTP/1.0 403 Forbidden'. В этом случае АРМ перенаправит пользователя на главную страницу.
        </p>
        <img class="center-block" src="/sources/verification/images/r22.png" alt=""/>
    </div>
</div>