<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Добро пожаловать!</h1>
        <p>В автоматизированную систему расчёта рейтинга профессорско-преподавательского состава.</p>
        <p>Для начала работы перейдите по вкладке <a ng-click="goto('/records')" href>"Ввод достижений"</a>.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p><a class="btn btn-primary btn-lg" href ng-click="goto('/guide')" role="button">Перейти к справке »</a></p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Ввод достижений</h2>
      <p>Вводите и редактируйте достижения преподавателей для доступных Вам критериев. Система позволяет проводить поиск по ряду параметров, а также добавлять комментарии к введённым достижениям.</p>
      <p><a class="btn btn-default" ng-click="goto('/records')" role="button">Перейти »</a></p>
    </div>
    <div class="col-md-5">
      <h2>Утверждение достижений</h2>
      <p>Для показателей, данные для которых вводятся в другом месте, вводите достижения на основе полученных заявок. В случае если данные некорректны заявку можно отклонить, добавив при этом комментарий.</p>
      <p><a class="btn btn-default" ng-click="goto('/records')" role="button">Перейти »</a></p>
    </div>
    <div class="col-md-3">
      <h2>Помощь</h2>
      <p>Здесь вы можете ознакомиться с деталями работы системы и найти ответы на вопросы.</p>
      <p><a class="btn btn-default" href ng-click="goto('/guide')" role="button">Перейти »</a></p>
    </div>
  </div>
  <hr/>
  <footer>
    <p>Систему разработал студент факультета информатики Ишков Дмитрий в рамках дипломного проектирования в 2014 году.</p>
  </footer>
</div>