<!doctype html >
<html ng-app="verificationApp" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>Рейтинг ППС СГАУ</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(app) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="sources/verification/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="sources/verification/styles/index.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="MainCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <!-- Add your site or application content here -->
    <!--<div ng-include="'partials/navbar'" class="header"></div>-->
    <div ng-include="'sources/verification/views/_header.html'"></div>
    <div ng-view=""></div>
    <div ng-include="'sources/verification/views/_footer.html'"></div>

    <!--[if lt IE 9]>
    <script src="sources/verification/bower_components/es5-shim/es5-shim.js"></script>
    <script src="sources/verification/bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js(app) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="sources/verification/bower_components/angular/angular.js"></script>
    <script src="sources/verification/bower_components/angular-resource/angular-resource.js"></script>
    <script src="sources/verification/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="sources/verification/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="sources/verification/bower_components/angular-route/angular-route.js"></script>
    <script src="sources/verification/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="sources/verification/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="sources/verification/bower_components/angular-ui-utils/ui-utils.js"></script>
    <script src="sources/verification/scripts/libs/angular-locale_ru-ru.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="sources/verification/scripts/app.js"></script>
        <script src="sources/verification/scripts/controllers/main.js"></script>
        <script src="sources/verification/scripts/controllers/records.js"></script>
        <script src="sources/verification/scripts/controllers/external_records.js"></script>
        <script src="sources/verification/scripts/controllers/header.js"></script>
        <script src="sources/verification/scripts/controllers/modal_instance.js"></script>
        <script src="sources/verification/scripts/controllers/guide.js"></script>
        <script src="sources/verification/scripts/controllers/permissions.js"></script>
        <script src="sources/verification/scripts/controllers/criteria.js"></script>
        <script src="sources/verification/scripts/controllers/criteria_edit.js"></script>
        <script src="sources/verification/scripts/controllers/season_criteria.js"></script>
        <script src="sources/verification/scripts/controllers/criteria_versions.js"></script>
        <script src="sources/verification/scripts/filters/allowed_criteria.js"></script>
        <script src="sources/verification/scripts/services/auth.js"></script>
        <script src="sources/verification/scripts/services/session.js"></script>
        <script src="sources/verification/scripts/services/user.js"></script>
        <script src="sources/verification/scripts/services/record_note.js"></script>
        <script src="sources/verification/scripts/services/external_record_note.js"></script>
        <script src="sources/verification/scripts/services/record.js"></script>
        <script src="sources/verification/scripts/services/criteria.js"></script>
        <script src="sources/verification/scripts/services/teacher.js"></script>
        <script src="sources/verification/scripts/services/external_record.js"></script>
        <script src="sources/verification/scripts/services/season.js"></script>
        <script src="sources/verification/scripts/services/version.js"></script>
        <script src="sources/verification/scripts/services/cache.js"></script>
        <!-- endbuild -->
</body>
</html>
