td, th {
    word-wrap: break-word;
    max-width: 600px;
    padding: 5px;
}
.menu {
    padding: 10px;
}
.menu li {
    padding: 5px;
    display: inline-block;
}

.menu .current {
    font-weight: bold;
}

.record {
    display: block;
}
.record-field{
    width: 80px;
}
#from, #to{
    width: 80px;
}